<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Probability</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="window">
        <div class="title-bar">Conditional Probability</div>
        <div class="content">
            <button class="btn-highlight">Load language model</button>
            <div class="input-group">
                <input type="text" placeholder="Search">
                <button>Browse</button>
            </div>
            <div class="model-list">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Model
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Model 1</td>
                        </tr>
                        <tr>
                            <td>Model 2</td>
                        </tr>
                        <tr>
                            <td>Model n</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <button class="btn-highlight">Test sentence</button>
                <div class="input-group">
                    <input type="text" placeholder="Test sentence">
                    <button>Determine joint probability</button>
                </div>
            <table>
                <thead>
                    <tr>
                        <th>Language model</th>
                        <th>Joint probability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Model 1</td>
                        <td>0.05</td>
                    </tr>
                    <tr>
                        <td>Model 2</td>
                        <td>0.04</td>
                    </tr>
                    <tr>
                        <td>Model n</td>
                        <td>0.0001</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
