<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive Text</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="content-body">
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="{{ url_for('home') }}">Language Models</a></li>
                <li><a href="{{ url_for('predictiveText') }}"  class="active-link">Predictive Text</a></li>
                <li><a href="{{ url_for('textGeneration') }}">Text Generation</a></li>
                <li><a href="{{ url_for('conditionalProb') }}">Conditional Probability</a></li>
            </ul>
        </nav>
        <div class="window">
            <div class="title-bar">Predictive Text</div>
            <div class="content">
                <form id="predictive-text-form" method="POST" action="{{ url_for('prediccion_texto') }}" enctype="multipart/form-data">
                    <button class="btn-highlight">Load language model</button>
                    <div class="file-group">
                        <span class="file-name">{{ tsv_file if tsv_file else "Search" }}</span>
                        <label for="file-input" class="file-label">Browse</label>
                        <input type="file" id="file-input" class="file-input" name="file-input-corpus" accept=".tsv" value={{ tsv_file if tsv_file }}>
                    </div>
                    <button class="btn-highlight">Write a word or two words</button>
                    <div class="input-group">
                        <label for="words">
                            <input type="text" placeholder="Word" id="words" name="words">
                        </label>
                        <button type="submit" id="next-word">Next word</button>
                        <label>
                            <select id="probable-words" name="probable-words">
                                <option value="{{ probable_word1 }}">{{ probable_word1 }}</option>
                                <option value="{{ probable_word2 }}">{{ probable_word2 }}</option>
                                <option value="{{ probable_word3 }}">{{ probable_word3 }}</option>
                                <option value="{{ probable_word4 }}">{{ probable_word4 }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="add">
                        <button type="submit" id="add-word">Add word</button>
                    </div>
                </form>

                <label>
                    <textarea placeholder="Generated text" readonly>{{ predicted_text }}</textarea>
                </label>
            </div>
        </div>
    </div>

    <div id="error-modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal" class="close-button">&times;</span>
            <h2 id="modal-title">Error</h2>
            <p id="modal-message"></p>
        </div>
    </div>

    <div id="success-modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal2" class="close-button">&times;</span>
            <h2 id="modal-title2">¡Éxito!</h2>
            <p id="modal-message2"></p>
        </div>
    </div>
</body>
<script>
    const fileInput = document.getElementById('file-input');
    const fileNameDisplay = document.querySelector('.file-name');
    const nextButton = document.getElementById('next-word')
    const testSentenceInput = document.getElementById('words')
    const errorModal = document.getElementById('error-modal');
    const successModal = document.getElementById('success-modal');
    const modalMessage = document.getElementById('modal-message');
    const modalMessage2 = document.getElementById('modal-message2');
    const closeModalButton = document.getElementById('close-modal');
    const closeModalButton2 = document.getElementById('close-modal2');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        fileNameDisplay.textContent = file ? file.name : 'Search';
    });

    function showModal(message) {
        modalMessage.textContent = message;
        errorModal.classList.add('show');
        errorModal.classList.remove('hidden');
    }
    function showModalSuccess(message) {
        modalMessage2.textContent = message;
        successModal.classList.add('show');
        successModal.classList.remove('hidden');
    }

    
    closeModalButton.addEventListener('click', () => {
        errorModal.classList.add('hidden');
        errorModal.classList.remove('show');
    });

    closeModalButton2.addEventListener('click', () => {
        successModal.classList.add('hidden');
        successModal.classList.remove('show');
    });

    nextButton.addEventListener('click', () => {
        const fileLoaded = fileInput.files.length > 0;
        const testSentence = testSentenceInput.value.trim()
/*
        if (!fileLoaded && !testSentence) {
            showModal('Por favor, carga un archivo y escribe una oración.');
        } else if (!fileLoaded) {
            showModal('Por favor, carga un archivo en "Load language model".');
        } else if (!testSentence) {
            showModal('Por favor, escribe una oración en "Test sentence".');
        } else {
            showModalSuccess('¡Validación exitosa! Generando texto...');
        }*/
        showModalSuccess('¡Validación exitosa! Generando texto...');
    });

    document.addEventListener('DOMContentLoaded', function() {
        const fileNameDisplay = document.querySelector('.tsv_file');
        const fileInput = document.getElementById('file-input');
        const fileName = "{{ tsv_file }}";
        if (fileName) {
            fileNameDisplay.textContent = fileName;
            fileInput.disabled = true;
        }
    });

</script>
</html>
